{% extends "base_form.html" %}

{% block description %}
<div class="container">
    {% if update %}
        <h1>Update household member</h1>
    {% else %}
        <h1>Create household member</h1>
    {% endif %}
    <ul>
        <li>To create your household instance you must first sign up as household manager.</li>
        <li>You need to provide us you first name, last name, username, email address and password.</li>
    </ul>

</div>
{% endblock description %}

{% block cancel %}
    <a href="{% url 'household_manager_index' %}" style="text-decoration: none;">
        <button class="btn btn-default" type="button" >
            Cancel
        </button>
    </a>
{% endblock cancel %}