<!DOCTYPE html>
<html>
<head>
    <title>Household App</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    {% block extra_head %}

    {% endblock extra_head %}

</head>
<body style="padding-top: 50px; padding-bottom: 20px;">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Household app</a>
        </div>
        <div class="navbar-collapse collapse">
            {% block login_form %}
                {% if user.is_authenticated %}
                    <span class="navbar-text navbar-right" style="color: #ffffff">
                        You are logged in as {{ user.username }}. <a href="{% url 'logout' %}">Logout </a>
                    </span>
                {% else %}
                    <form class="navbar-form navbar-right" role="form" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="username" type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                {% endif %}
            {% endblock login_form %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

        <!-- Main jumbotron for a primary marketing message or call to action -->

    {% block description %}
    {% endblock description %}

    <div class="container">
    {% block content %}{% endblock content%}
    <hr>

    <footer>
        <p>© Company 2014</p>
    </footer>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
<body>
</body>
</html>