{% extends "base.html" %}

{% block content %}
<hr>
<div class="form-horizontal">
    <form id="household-manager-form" method="post" {% block enctype  %}enctype="multipart/form-data"{% endblock enctype %}>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label class="control-label col-xs-2" for="{{ field.auto_id}}">
                    {% if field.field.required %}
                        <b>* {{ field.label }}</b>
                    {% else %}{{ field.label }}{% endif %}
                </label>
                <div class="col-xs-10">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <div class="form-actions col-xs-offset-2 col-xs-10">
			<button class="btn btn-primary" type="submit" >
				Save
			</button>
			{% block cancel %}
                <a href="/" style="text-decoration: none;">
		        	<button class="btn btn-default" type="button" >
				        Cancel
			        </button>
                </a>
            {% endblock cancel %}
		</div>
    </form>
</div>
<br>
{% endblock content %}