{% extends "base.html" %}

{% load abs %}

{% block extra_head %}
<style rel="stylesheet" type="text/css">
    .table>thead>tr>td.add,
    .table>tbody>tr>td.add,
    .table>tfoot>tr>td.add,
    .table>thead>tr>th.add,
    .table>tbody>tr>th.add,
    .table>tfoot>tr>th.add,
    .table>thead>tr.add>td,
    .table>tbody>tr.add>td,
    .table>tfoot>tr.add>td,
    .table>thead>tr.add>th,
    .table>tbody>tr.add>th,
    .table>tfoot>tr.add>th {
        background-color: #428bca;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }
    .table>thead>tr>td.withdraw,
    .table>tbody>tr>td.withdraw,
    .table>tfoot>tr>td.withdraw,
    .table>thead>tr>th.withdraw,
    .table>tbody>tr>th.withdraw,
    .table>tfoot>tr>th.withdraw,
    .table>thead>tr.withdraw>td,
    .table>tbody>tr.withdraw>td,
    .table>tfoot>tr.withdraw>td,
    .table>thead>tr.withdraw>th,
    .table>tbody>tr.withdraw>th,
    .table>tfoot>tr.withdraw>th {
        color: #428bca;
        text-align: center;
        font-weight: bold;
    }
    .red {
        color: #428bca;
    }
    .green {
        color: #428bca;
    }
</style>
{% endblock extra_head %}

{% block description %}
{% endblock description %}
{% block content %}
    <div class="container">
    <br>
        <div class="row">
            <div class="col-md-7">
                <h2>Transactions</h2>
                {% if transactions %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>User</th>
                                <th>Amount</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        {% for transaction in transactions %}
                            <tr>
                                <td class="col-md-1 {% if transaction.amount > 0 %}add{% else %}withdraw{% endif %}">
                                    {% if transaction.amount > 0 %}+{% else %}-{% endif %}
                                </td>
                                <td class="col-md-4">{{ transaction.description | capfirst }}</td>
                                <td class="col-md-2">{{ transaction.household_user__first_name }} {{ transaction.household_user__last_name }}</td>
                                <td class="col-md-1" align=right>{{ transaction.amount | abs }} kn</td>
                                <td class="col-md-2">{{ transaction.date_created | date:'d, E' }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div>
                        <ul class="pagination">
                            <li><a href="?page=1"><<</a></li>
                            <li><a href="?page={% if transactions.number > 1 %}{{ transactions.previous_page_number }}{% else %}1{% endif %}"><</a></li>

                            {% for i in transactions.paginator.page_range %}
                                <li {% if transactions.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                            {% endfor %}

                            <li><a href="?page={% if transactions.number < transactions.paginator.num_pages %}{{ transactions.next_page_number }}{% else %}{{ transactions.paginator.num_pages }}{% endif %}">></a></li>
                            <li><a href="?page={{ transactions.paginator.num_pages }}">>></a></li>
                        </ul>
                    </div>

                    <p class="lead">Current amount: <span class="{% if amount >= 0 %}green{% else %}red{% endif %}">{{ amount }} kn</span></p>
                    <hr>
                {% endif %}
                <div class="form-horizontal">
                    <form id="household-manager-form" action="." method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label class="control-label col-xs-4" for="{{ field.auto_id}}">{% if field.field.required %}<b>* {{ field.label }}</b>{% else %}{{ field.label }}{% endif %}</label>
                                <div class="col-xs-8">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-actions col-xs-offset-4 col-xs-8">
                            <button class="btn btn-primary" type="submit" >
                                Insert
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h2>Household</h2>
                {% if household %}
                    <p>You are member of <a href="{% url 'update_household' pk=household.id %}">{{ household.name }}</a> household.</p>
                    <p>(Address: {{ household.address }})</p>
                {% else %}
                    <p>You don't have household instance. You can create it <a href="{% url 'create_household' %}">here</a>.</p>
                {% endif %}
                <h2>Household members</h2>
                {% if household_members %}
                    <ul>
                        {% for member in household_members %}
                            <li>
                                <a href="{% url 'update_member' pk=member.id %}">
                                    {{ member.first_name }} {{ member.last_name }}
                                    {% if member.user_type == 'manager' %} (Manager) {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <p>You can create new household member <a href="{% url 'create_member' %}">here</a>.</p>
                {% else %}
                    {% if household %}
                        <p>You don't have household members. You can create them <a href="{% url 'create_member' %}">here</a>.</p>
                    {% else %}
                        <p>You are not member of any household so you can't create new members. Please create your household first. </p>
                    {% endif %}
                {% endif %}
                <h2>Water and electricity</h2>
                <ul>
                    <li><p class="lead">Water: <span class="{% if amount >= 0 %}green{% else %}red{% endif %}">{{ amount }} kn</span></p></li>
                    <li><p class="lead">Money: <span class="{% if amount >= 0 %}green{% else %}red{% endif %}">{{ amount }} kn</span></p></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}
